google-auth>=2.22.0
google-auth-oauthlib>=1.0.0
google-cloud-storage>=2.10.0
google-cloud-secret-manager>=2.16.0
ansible-runner>=2.3.2
ansible-builder>=3.0.0
yamllint>=1.26.0
molecule>=6.0.2
molecule-podman>=2.0.3
pytest>=7.0.0
pytest-testinfra>=6.0.0
jmespath>=1.0.1
